<div class="tbl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Requirements</th>
        <th>Description</th>
        <th>Website</th>
        <th>Category</th>
        <th>Type</th>
        <th>Section</th>
        <th>Resource</th>
      </tr>
    </thead>
      <tbody>
        <% @state_reqs.each do |state_req| %>
            <tr>
              <td class="column"><%= state_req.title %></td>
              <td class="column"><%= state_req.description %></td>
              <td class="column"><%= state_req.url %></td>
              <td class="column"><%= state_req.category %></td>
              <td class="column"><%= state_req.business_type %></td>
              <td class="column"><%= state_req.section %></td>
              <td id="resource"><%= state_req.resource_group_description %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

<style>

  div.tbl {
    position: relative;
    /*margin: 20px 0px;*/
    padding: 39px 19px 14px;
    border: 1px solid #ddd;
    margin-left: -100px;
    margin-right: 50px;
    margin-top: 100px;
  }
  table {
    table-layout: fixed;
  }

  td {
    word-wrap: break-word;
    width: 10  }

  td.column {
    /*width: 100px;*/
  }
</style>