<!DOCTYPE html>
<html>
<head>
  <title>BizStartr</title>
  <%= include_gon %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom_styles", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="footer">
  <div class="container">
    <%= image_tag('GitHub-Mark-32px.png') %>
    <%= link_to "View the source code on GitHub", 'https://github.com/danny-g/biz_startr' %>
    /
    <%= link_to "Crafted by Danny Garcia", "https://twitter.com/Danny__Garcia"%>
  </div>
</footer>

</body>
</html>
